{% extends 'layout.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
    {% translate "Statuses" %}
  </h1>
  <a class="btn btn-primary mb-3" href="{% url 'status_create' %}">{% translate "Create label" %} </a>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Creation date" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for status_data in status_list %}
        <tr>
          <td class="fw-normal">{{ status_data.id }}</td>
          <td class="fw-normal">{{ status_data.name}}</td>
          <td class="fw-normal">{{ status_data.timestamp|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'status_update' status_data.id %}">{% translate "Update" %}</a>
            <br>
            <a href="{% url 'status_delete' status_data.id %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}