<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
    Статусы
  </h1>
      
  <a class="btn btn-primary mb-3" href="{% url 'status_create' %}">Создать статус</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for status in statuses %}
        <tr>
          <td class="fw-normal">{{ status.id }}</td>
          <td class="fw-normal">{{ status.name}}</td>
          <td class="fw-normal">{{ user.date_joined|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="#">Изменить</a>
            <br>
            <a href="#">Удалить</a>
          </td>
        </tr>
      {% endfor %}
  
    </tbody>
  </table>
</div>

{% endblock %}