<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}

      <div class="container-lg mt-3">
        <div class="table-responsive">
          <table class="table table-striped" data-test="users">
            <thead>
              <tr class="border">
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Полное имя</th>
              <tr>
            </thead>  
            <h1 class="my-4">
              Статусы
            </h1>
            <a class="btn btn-primary mb-3" href="/statuses/create/">Создать статус</a>
            <tbody>
              {% for user in users %}
              <tr>
                <td class="fw-normal">{{ user.id }}</td>
                <td class="fw-normal">{{ user.user_name }}</td>
                <td class="fw-normal">{{ user.full_name}}</td>
                <td>
                  <a href="{% url 'user_update' user.id %}">Изменить </a>
                  <br>
                  <a href="{% url 'user_delete' user.id %}">Удалить</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table> 
        </div>
      </div>
{% endblock %}