<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

      <div class="container-lg mt-3">
        <div class="table-responsive">
          <table class="table table-striped" data-test="users">
            <thead>
              <tr class="border">
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Полное имя</th>
                <th>Дата создания</th>
              <tr>
            </thead>  
            <h1 class="my-4">
              Пользователи
            </h1>
            <tbody>
              
              {% for user in object_list %}
              <tr>
                <td class="fw-normal">{{ user.id }}</td>
                <td class="fw-normal">{{ user.username}}</td>
                <td class="fw-normal">{{ user.first_name}} {{ user.last_name}}</td>
                <td class="fw-normal">{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                <td>
                  <a href="{% url 'user_update' user.id %}">Изменить </a>
                  <br>
                  <a href="{% url 'user_delete' user.id %}">Удалить</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table> 
        </div>
      </div>
{% endblock %}