{% extends 'layout.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container wrapper flex-grow-1">   
  <h1 class="my-4">
    Метки
  </h1>
  <a class="btn btn-primary mb-3" href="{% url 'label_create' %}">Создать метку</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for labels_data in labels_list %}
      <tr>
        <td class="fw-normal">{{ labels_data.id }}</td>
        <td class="fw-normal">{{ labels_data.name}}</td>
        <td class="fw-normal">{{ labels_data.timestamp|date:"d.m.Y H:i"}}</td>
        <td>
          <a href="{% url 'label_update' labels_data.id %}">Изменить </a>
          <br>
          <a href="{% url 'label_delete' labels_data.id %}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}