{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% load i18n %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% for message in messages %}
      {{ message }}
  {% endfor %}
</div>
{% endif %}

  <div class="card-body p-5 bg-light">
      <div class="display-4">Task manager</div>
      <hr>
      <p class="lead">This is CRUD web application built with Django, Bootstrap and PostgreSQL.</p>
      <p class="lead">It manages tasks for multiple users. Each task has a label description and statuses that can be changed and deleted.</p>
  </div>
  </div>

<div class="container mt-1 mb-1 rounded float-start ">
    <a  class="card-body p-5 bg-light" href="https://github.com/AleksandrKosmylev/python-project-52">
      <img src="{% static 'main_page/GitHub-logo.png' %}" alt="github" class="mw-100">
    </a>
</div>

{% endblock %}



