{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% load i18n %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% for message in messages %}
      {{ message }}
  {% endfor %}
</div>
{% endif %}

  <!--
<div class="card" xmlns="http://www.w3.org/1999/html">

  <div class="card-body p-5 bg-light">
          <div class="display-4">Привет от Хекслета!</div>
      <p class="lead">Практические курсы по программированию</p>
      <hr>
      <a class="btn btn-primary btn-lg" href="https://ru.hexlet.io">Узнать больше</a>
    </div>
  </div>
  -->
<h1> </h1>
<h1> </h1>
<div class="container mt-1 mb-1 rounded float-start ">
    <a  class="card-body p-5 bg-light" href="https://github.com/AleksandrKosmylev/python-project-52">
      <img src="{% static 'main_page/GitHub-logo.png' %}" alt="github" class="mw-100">
    </a>
</div>

{% endblock %}



