{% load i18n %}

<div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
    </a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-1 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-3 text-secondary">{% translate 'Task manager' %}</a></li>
      <li><a href="{% url 'users_index' %}" class="nav-link px-3 text-white">{% translate 'Users' %}</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'statuses' %}" class="nav-link px-3 text-white">{% translate 'Statuses' %}</a></li>
        <li><a href="{% url 'labels' %}" class="nav-link px-3 text-white">{% translate "Labels" %}</a></li>
        <li><a href="{% url 'tasks' %}" class="nav-link px-3 text-white">{% translate "Tasks" %}</a></li>
        <li>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" class="nav-link px-3 text-white" value="{% translate 'Log out ' %}"/>
            </form>
        </li>
      {% endif %}
    </ul>
    <div class="text-end">
      <a href="/login/" class="btn btn-outline-light me-2" >{% translate "Login" %}</a>
      <a href="{% url 'user_create' %}" class="btn btn-warning">{% translate "Registration" %}</a>
    </div>
  </div>
</div>