{% extends 'layout.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

{% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
      {% trans "Tasks" %}
  </h1>
      
  <a class="btn btn-primary mb-3" href="{% url 'task_create' %}" role="button">{% trans "Create task" %}</a>  
    
  <div class="card mb-3">
    <div class="card-body bg-light">
        <form method="get" class="form-inline center">
            {% bootstrap_form filter.form %}
            
            <input class="btn btn-primary m-3" type="submit" value="{% trans  'Show' %}"/>
  
        </form>
    </div>
  </div>
  
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Author" %}</th>
        <th>{% translate "Executor" %}</th>
        <th>{% translate "Creation date" %}</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      {% for task in filter.qs  %}
      <tr>
        <td>{{task.id}}</td>
        <td>
          <a href="{% url 'task_card' task.id %}">{{task.name}}</a>
        </td>
        <td>{{task.status}}</td>
        <td>{{task.executor.username}}</td>
        <td>{{task.executor.first_name}} {{task.executor.last_name}}</td>
        <td>{{task.timestamp|date:"d.m.Y H:i"}}</td>
        <td>
          <a href="{% url 'task_update' task.id%}">{% translate "Update" %}</a>
          <br>
          <a href="{% url 'task_delete' task.id%}">{% translate "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>

</div>

{% endblock %}
