<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
      Задачи
  </h1>
      
<a class="btn btn-primary mb-3" href="{% url 'task_create' %}" role="button">Создать задачу</a>
  
<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      <div class="mb-3"><label class="form-label" for="id_status">Статус</label>
        <select name="status" class="form-select" id="id_status">
          <option value="" selected="">---------</option>
          <option value="1"> Выбор</option>
         </select>
      </div>
      
      <div class="mb-3">
        <label class="form-label" for="id_executor">Исполнитель</label>
        <select name="executor" class="form-select" id="id_executor">
          <option value="" selected="">---------</option>
          <option value="2">Aleksandr edit Kosmylev</option>
        </select>
      </div>
      
      <div class="mb-3">
        <label class="form-label" for="id_label">Метка</label>
        <select name="label" class="form-select" id="id_label">
          <option value="" selected="">---------</option>
          <option value="1">bugg</option>
          <option value="2">вымя</option>
        </select>
      </div>
      
      <div class="mb-3">
        <div class="form-check">
          <input type="checkbox" name="self_tasks" class="form-check-input" id="id_self_tasks">
          <label class="form-check-label" for="id_self_tasks">Только свои задачи</label>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Показать">
    </form>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Статус</th>
      <th>Автор</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>
        <a href="/tasks/1/">33333333333333333333</a>
      </td>
      <td>пантовый</td>
      <td>name surname</td>
      <td>Aleksandr edit Kosmylev</td>
      <td>19.02.2024 08:44</td>
      <td>
        <a href="/tasks/1/update/">Изменить</a>
        <br>
        <a href="/tasks/1/delete/">Удалить</a>
      </td>
    </tr>
    
    <tr>
      <td>32</td>
      <td>
        <a href="/tasks/32/">Aleksandr task</a>
      </td>
      <td>task</td>
      <td>Aleksandr edit Kosmylev</td>
      <td>Aleksandr edit Kosmylev</td>
      <td>29.02.2024 11:59</td>
      <td>
        <a href="/tasks/32/update/">Изменить</a>
        <br>
        <a href="/tasks/32/delete/">Удалить</a>
      </td>
    </tr>
    
  </tbody>
</table>

    </div>

{% endblock %}